<!DOCTYPE html>
@*@{
    ViewData["Title"] = "Home Page";
}*@

    
    <html>
    <head>
        @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/AboutStyle.css" />
    </head>
    <body>

        <a class="about-section">
            <h1>About Us </h1>
            <p>We are a young talented team with a lot of inspiration.</p>
            <p>Resize the browser window to see that this page is responsive by the way.</p>
        </a>

        <h2 style="text-align:center">Our Team</h2>
        <div class="row">

            <div class="column">
                <div class="card">
                    <img style="width: 350px; height: 200px;" src="~/css/Pictures/Gal_Polak.jpg" alt="Gal">
                    <div class="container">
                        <h2>Gal Polak</h2>
                        <p class="title">Founder</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>galpolak2806@cs.colman.ac.il</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img style="width: 350px; height: 200px;" src="~/css/Pictures/Saar_Mamok.jpg" alt="Saar">
                    <div class="container">
                        <h2>Saar Mamok</h2>
                        <p class="title">Founder</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>saarmamok63@cs.colman.ac.il</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img style="width: 350px; height: 200px;" src="~/css/Pictures/amit_messica.jpg" alt="Amit">
                    <div class="container">
                        <h2>Amit Messica</h2>
                        <p class="title">Founder</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>mike@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img style="width: 350px; height: 200px;" src="~/css/Pictures/Karin_Mizrahi.jpg" alt="Karin">
                    <div class="container">
                        <h2>Karin Mizrahi</h2>
                        <p class="title">Founder</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>karinush1803@cs.colman.ac.il</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>

