<!DOCTYPE html>
@{
    ViewData["Title"] = "About Page";
}

    
    <html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/about-style.css" />


    </head>
    <body class="about">

        <div class="section">
            <h1>About Us </h1>
            <p>We are a young talented team with a lot of inspiration.</p>
            <p>The obvious objective of video games is to entertain people by surprising them with new experiences.</p>
        </div>
        <div class="col-lg-3 office-info">
            
                <h3>Our Office Location</h3>
                <p>Yagur 16, Tel Aviv-Yafo</p>
                <p> Sunday to Thursday - 10:00- 16:00</p>
                <p>Friday and Saturday Close</p>
        
            <div class="map"><iframe align="right" width="640" height="543" src="https://maps.google.com/maps?q=yagur%2016%20tel%20aviv&t=&z=13&ie=UTF8&iwloc=&output=embed" style="border:0" allowfullscreen></iframe></div>
        </div>
    </body>
   
</html>

