@model GamesStore.Models.Locations
<!DOCTYPE html>
@{
    ViewData["Title"] = "About Page";
}





<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/about-style.css" />


</head>
<body class="about">

    <div class="section">
        <h1>About Us </h1>
        <p>We are a young talented team with a lot of inspiration.</p>
        <p>The objective of video games is to entertain people by surprising them with new experiences.</p>
    </div>
    <div class="col-lg-3 office-info">

        <h3>Our Office Location</h3>
        <p>Yagur 16, Tel Aviv-Yafo</p>
        <p> Sunday to Thursday - 10:00- 16:00</p>
        <p>Friday and Saturday Close</p>
        <p>
             Our Email is available 5/24 for questions and infomation -GameStoreMGSK@gmail.com
        </p>



        <div class="text-center" id="map" style="height:300px; width:600px; border-radius: 20px;"></div>
        @if (Context.User.IsInRole("Admin"))
        {
            <div style="margin-top:10px;">
                <a asp-controller="Locations" asp-action="Index" class="btn btn-primary">Location details</a>
            </div>
        }

 

    </div>


</body>

</html>



@section Scripts{
    <script src="~/js/map.js"></script>
}

