@model IEnumerable<GamesStore.Models.Games>

@{
    ViewData["Title"] = "Home Page";

}
<link rel="stylesheet" href="~/css/home.css" />

<body>
    <table align="center">
        <tbody>
            <label id="newlabel" class="newlabel">Newest Games</label>
            
            <tr>
                <td>

                    <div class="slideshow-container">

                        @{ int count = 1;
                            foreach (var item in Model)
                            {
                                if (DateTime.Now.Year - item.Releasedate.Year < 3)
                                {
                                    string img = Convert.ToBase64String(item.Image);
                                    <div class="mySlides">
                                        <a class="a1"  name="@item.Id" href="@Url.Action("Details", "Games", new { id = item.Id })">
                                            <img class="newestgames" src="data:/image/jpg;base64,@img" onclick="">
                                        </a>
                                        <div class="text">@item.Name</div>
                                    </div>
                                    count++;
                                }

                            }
                        }
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>

                    </div>
                    <br />
                    <div style="text-align:center">
                        @for (int i = 1; i < count; i++)
                        {
                            <span class="dot" onclick="currentSlide(@i)"></span>
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

@section Scripts{
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
    <script src="~/js/gamedetailhome.js"></script>
    <script type="text/html" id="detailsbody">
        <tr>
            <td>
                <dl class="row">
                    <dt class="col-sm-2">
                        Name:
                    </dt>
                    <dd class="col-sm-10">
                        {name}
                    </dd>
                    <dt class="col-sm-2">
                        Description:
                    </dt>
                    <dd class="col-sm-10">
                        {description}
                    </dd>
                    <dt class="col-sm-2">
                        System requiremnts:
                    </dt>
                    <dd class="col-sm-10">
                        {systemrequiremnts}
                    </dd>
                    <dt class="col-sm-2">
                        Release date:
                    </dt>
                    <dd class="col-sm-10">
                        {releasedate}
                    </dd>
                    <dt class="col-sm-2">
                        Price:
                    </dt>
                    <dd class="col-sm-10">
                        {price}
                    </dd>
                    <dt class="col-sm-2">
                        Trailer:
                    </dt>
                    <dd class="col-sm-10">
                        <iframe width="420" height="315"
                                src="{trailer}">
                        </iframe>

                    </dd>
                    <dt class="col-sm-2">
                        Image:
                    </dt>
                    <dd class="col-sm-10">
                        <img src="data:/image/jpg;base64,{image}" class="card-img-top" alt="...">
                    </dd>
                    <dt class="col-sm-2">
                        On stock:
                    </dt>
                    <dd class="col-sm-10">
                        {onstock}
                    </dd>
                </dl>

            </td>
        </tr>

    </script>



}


