<!DOCTYPE html>
@{
    ViewData["Title"] = "About Page";
}

    
    <html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/about-style.css" />


    </head>
    <body class="about">

        <div class="section">
            <h1>Our Team</h1>
        </div>

        <div class="row">
            <div class="column">
                <div class="card">
                    <img style="width: 250px; height: 200px;" src="~/css/Pictures/Gal_Polak.jpg" alt="Gal">
                    <div class="container">
                        <h2>Gal Polak</h2>
                        <p class="title">Founder</p>
                        <p>Playing video games is not a waste of time.</p>
                        <p>galpolak2806@cs.colman.ac.il</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img style="width: 250px; height: 200px;" src="~/css/Pictures/Saar_Mamok.jpg" alt="Saar">
                    <div class="container">
                        <h2>Saar Mamok</h2>
                        <p class="title">Founder</p>
                        <p>Live | Love | Eat</p>
                        <p>saarmamok63@cs.colman.ac.il</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img style="width: 250px; height: 200px;" src="~/css/Pictures/amit_messica.jpg" alt="Amit">
                    <div class="container">
                        <h2>Amit Messica</h2>
                        <p class="title">Founder</p>
                        <p>Viva la vida loca </p>
                        <p>amitmes11@cs.colman.ac.il</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img style="width: 250px; height: 200px;" src="~/css/Pictures/Karin_Mizrahi.jpg" alt="Karin">
                    <div class="container">
                        <h2>Karin Mizrahi</h2>
                        <p class="title">Founder</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>karinush1803@cs.colman.ac.il</p>
                    </div>
                </div>
            </div>

        </div>
        <img style="width:1200px; height:400px;" src="~/css/Pictures/videogamesquote.jpeg" alt="Games-Quote">
      </body>
   
</html>

