<!DOCTYPE html>
@{
    ViewData["Title"] = "About Page";
}

    
    <html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/about-style.css" />


    </head>
    <body class="termsandconditions">

        <div class="termsandconditions-section">
            <h1>Terms and Conditions </h1>
            <p>We are a young talented team with a lot of inspiration.</p>
            <p>The obvious objective of video games is to entertain people by surprising them with new experiences.</p>
        </div>
        <div class="col-lg-3 termsandconditions-info">
            
                <h3>Payment Options </h3>
                <p>We accept all types of credit card (Amex,MasterCard,Visa ETC) </p>
                <p>Online Payment is available with Paypal</p>
                <p>After completing your order you will be able to play the games you bought</p>
        
       </div>
    </body>
   
</html>

