@model GamesStore.Models.OrdereSupplier

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order Supplier - @ViewBag.gname.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" id="supid" class="form-control">
                    @foreach (var item in ViewBag.supor)
                    {
                        <option value="@item.Id">@item.Email</option>
                    }
                </select>
            </div>
            <input hidden name="gameidorder" id="gameidorder" value="@ViewBag.gname.Id" />
            <label>enter number of game order</label> <input name="count" id="count" type="number" min="1" value="1" class="countoforder" />
            @{ var p = ViewBag.gname.Price;}
            <input id="gameprice" hidden value=@p />
            <div class="form-group">
                <label asp-for="Totalprice" class="control-label"></label>
                <input readonly id="Totalprice" asp-for="Totalprice" value="0" class="form-control" />
                <span asp-validation-for="Totalprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="sub" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#count").change(function () {
            $("#Totalprice").val(0);
            var sum = parseInt($("#gameprice").val()) * parseInt($("#count").val());
            $("#Totalprice").val(sum);
        }).change();
    </script>
    <script>
        $(document).ready(function () {
            $("#sub").on("click", function () {
                if ($(count).val()<1)
                alert('please enter a valid number');
            });

        });
    </script>
}
