/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

About.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
}
About.html {
    box-sizing: border-box;
}

About.*, *:before, *:after {
    box-sizing: inherit;
}

About.column {
    float: left;
    width: 25%;
    margin-bottom: 50px;
    padding: 0 8px;
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

About.about-section {
    padding: 40px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

div.container {
    padding: 0 16px;
}

About.container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

About.title {
    color: rgb(0, 0, 0);
}

About.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

About.button:hover {
        background-color: rgb(255, 255, 255);
    }

@media screen and (max-width: 500px) {
    About.column {
        width: 100%;
        display: block;
    }
}
