/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

 .card-title {
    font-family: 'Klee One', cursive;
   
 }

.categoryName {
    font-family: 'Klee One', cursive;
    
}
.card {
    background-color:none;
}
