/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    box-sizing: border-box;
}
.gameTitle {
    text-align: center;
    background-color: black;
    width: 100%;
    border-radius: 20px;
    color: white;
}
/* Slideshow container */
.slideshow-container{
    max-width: 500px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display:flex;
}

.newlabel {
    font-family: 'Klee One', cursive;
    color: white;
    background-color: black;
    width: 100%;
    position: center;
    height: 25px;
    text-align: center;
    text-underline-position: auto;
    border-radius:20px;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover{
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    border-radius:0 0 10px 10px;
}

.newestgames {
    width: 500px;
    height: 500px;
    border-radius:20px;
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

.multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}

.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}

.multi-item-carousel .carousel-inner .next {
    left: 33%;
}

.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        transform: none !important;
    }
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}






.container_car {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
    
}

.carousel {
    height: 200px;
    width: 200px;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 200px;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
}

.a {
    transform: rotateY(0deg) translateZ(250px);
    background: none;
}

.b {
    transform: rotateY(60deg) translateZ(250px);
    background: none;
}

.c {
    transform: rotateY(120deg) translateZ(250px);
    background: none;
}

.d {
    transform: rotateY(180deg) translateZ(250px);
    background: none;
}

.e {
    transform: rotateY(240deg) translateZ(250px);
    background: none;
}

.f {
    transform: rotateY(300deg) translateZ(250px);
    background: none;
}

.newestgames1{
    height:200px;
    width:200px;
    border-radius:20px;
}

.next_car, .prev_car {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    display: inline-flex;
}

    .next_car:hover, .prev_car:hover {
        color: #000;
    }

    .next_car:active, .prev_car:active {
        top: 104px;
        box-shadow: 0 1px 0 #999;
    }

.next_car {
    right: 5em;
}

.prev_car {
    left: 5em;
}


/*Footer*/
.main-footer{
    background:#303036;
    color:white;
    height:330px;
    position:relative;
    width:100%;
    left:0;
    right:0;
    margin-top:100px;
}

    .main-footer .footer-content{
        /*border: 1px solid red;*/
        /* height: 100px;*/
        display:flex;
        margin-bottom:50px;
        bottom:0px;
    }

    .main-footer .footer-content .footer-section{
        flex:1;
        padding:25px;
        width:100%;
    }

    .main-footer .footer-content h1,
    .main-footer .footer-content h2{
        color:white;
    }

    .main-footer .footer-content .about h1 span{
        color:#05f7ff;
    }

    .main-footer .footer-content .about .contact span{
        display:block;
        font-size:1.1em;
        margin-bottom:8px;
    }

    .main-footer .footer-content .about .socials a{
        border:1px solid gray;
        width:45px;
        height:41px;
        padding-top:5px;
        margin-right:5px;
        text-align:center;
        display:inline-block;
        font-size:1.3em;
        border-radius:5px;
        transition:all .3s;
    }

    .main-footer .footer-content .about .socials a:hover{
        border:1px solid white;
        color:white;
        transition:all .3s;
    }

    .main-footer .footer-content .links ul a{
        display:block;
        margin-bottom:10px;
        font-size:1.2em;
        transition:all .3s;
        color: white;
    }

    .main-footer .footer-content .links ul a:hover{
        color:white;
        margin-left:15px;
        transition:all .3s;
    }

        .main-footer .footer-content .contact-from .contact-input{
            background:#272727;
            /*color:#bebdbd;*/
            color:papayawhip;
            margin-bottom:10px;
            line-height:1.5rem;
            padding:.9rem 1.4rem;
            border:none;
        }

            .main-footer .footer-content .contact-from .contact-input:focus{
                background:#1a1a1a;
            }
        .main-footer .footer-content .contact-from .contact-btn {
            float: right;
            font-size: 1.1em;
            font-family: 'Klee One', cursive;
        }

        .main-footer .footer-bottom {
            background: black;
            color: white;
            height: 50px;
            width: 100%;
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            padding-top: 15px;
            border: 1px solid #006669;
        }
/*
    .btn{
        padding: .5rem 1rem;
        background:#006669;
        color:white;
        border: 1px solid transparent;
        border-radius: .25rem;
        margin-bottom:5px;
    }*/
    .btn:hover{
        color:white !important;
        background:#005255;
    }
.btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    margin-bottom: 5px;
    background: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    outline: none;
    color: #444;
    margin-bottom: 5px;
}
html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    min-height:500px;
}


