@model GamesStore.Models.Client

@{
    ViewData["Title"] = "AccessDenied";
}

<h1>You are not authorized to access this page.</h1>

<a asp-action="Logout">Click here</a> to signin using a different user
